<nav class="navbar is-warning is-fixed-top">
  <div class="navbar-brand">
    
    <%= link_to root_path, class: "navbar-item" do %>
      <h1 class="title is-2 is-size-3-mobile has-text-centered">Acervo <%= @shop.name_for_title %></h1>
    <% end %>
    
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
  
  <%# search form %>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field">
          <div class="control has-icons-left">
          <%= form_tag(boardgames_path, method: :get) do %>
            <%= text_field_tag :boardgame, params[:boardgame], placeholder: "Tente 'catan'", class: "input is-rounded" %>
              <span class="icon is-small is-left">
                  <i class="fa fa-search"></i>
              </span>
          </div>
          <div class="control">    
            <%= submit_tag 'Search', name: nil, style: "display:none;", class: "button is-dark" %>
          </div>
          <% end %>
        </div>
      </div>          
    </div>
  </div>
</nav>