<nav class="navbar is-warning is-fixed-bottom is-hidden-tablet">
  <div class="navbar-brand">
    <div class="navbar-item">
      <div class="field has-addons">
        <div class="control has-icons-left">
          <%= form_tag(boardgames_path, method: :get) do %>
            <%= text_field_tag :boardgame, params[:boardgame], placeholder: "Tente 'catan'", class: "input is-rounded" %>
              <span class="icon is-small is-left">
                  <i class="fa fa-search"></i>
              </span>
        </div>
        <div class="control has-icons-right">    
            <%= submit_tag '', name: nil, class: "button is-info is-success is-rounded" %>
              <span class="icon is-small is-right">
                <i class="fa fa-search"></i>
              </span
        </div>
          <% end %>
      </div>
    </div>
  </div>
</nav>
